# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
local_variables.py

# Log dosyaları
*.log

# CSV çıktıları
*.csv

# Geçici dizinler
/tmp/

# (Opsiyonel) Virtualenv
venv/
