# Python bytecode files
__pycache__/
*.py[cod]

# Environment variables and local secrets
.env
local_variables.py

# Log files
*.log

# Generated CSV files
*.csv

# Temporary directories
/tmp/

# (Optional) Virtual environment folder
venv/

